shopLoc/*
test123.txt
dianping/test123.txt
*.pyc
dianping/*.json
dianping/shopRecom/*
dianping/shopPage/*
dianping/shopLoc/*
dianping/des/*
dianping/data/*
dianping/userReview/*
dianping/user/*
user/*
userReview/*
shopRecom/*
shopPage/*
data/*
log.txt

